{% extends "layouts/user-base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- <div class="container">

          

  <div class="col-lg-4 col-md-6 ml-auto mr-auto">

    <form role="form" method="post" action="">

      <input type="hidden" name="csrfmiddlewaretoken" value="FefP5j6QliCO1LRsCcXipQNnTqxZMIhFfJs1YOIMXXflfjLF07If0rQ17AY6RF4w">

      <div class="card card-login card-white">
        <div class="card-header">
          <img src="/static/assets/img/card-primary.png" alt="">
          <h1 class="card-title">Log in</h1>
        </div>
        <div class="card-body">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-single-02"></i>
              </div>
            </div>
            <input type="text" name="username" placeholder="Username" class="form-control" value="test" required="" id="id_username">
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="tim-icons icon-lock-circle"></i>
              </div>
            </div>
            <input type="password" name="password" placeholder="Password" class="form-control" value="ApS12_ZZs8" required="" id="id_password">
          </div>
        </div>
        
        <div class="text-center">
          
            Use default credentials: test / ApS12_ZZs8
            <br>
            OR <a href="/register/">create your own user</a> 
          
        </div>

        <div class="text-center">
          <button type="submit" name="login" class="btn btn-primary my-4">Sign in</button>
        </div>

        <div class="card-footer">
          <div class="pull-left">
            <h6>
              <a href="/register/" class="link footer-link">Create Account</a>
            </h6>
          </div>
          <div class="pull-right">
            <h6>
              <a target="_blank" rel="noopener noreferrer" href="https://demos.creative-tim.com/black-dashboard-pro-django/docs/1.0/getting-started/getting-started-django.html" class="link footer-link">Documentation</a>
            </h6>
          </div>
        </div>
      </div>
    </form>
  </div>



        </div> -->

        

              <div class="container">
      
                
      
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      
          <form role="form" method="post" action="">
            {% csrf_token %}
      
            <div class="card card-login card-white" style="border-radius: 0.4285rem;
            padding-bottom: 0.7rem;">
              <div class="card-header" style="    padding: 0 0 100px;
              overflow: hidden;">
                <img src="/static/assets/img/card-primary.png" alt="" style="position: absolute;">
                <h1 class="card-title" style="    position: relative;
                font-size: 5em;
                font-weight: 900;
                color: #fff;
                text-transform: lowercase;
                z-index: 1;">Log in</h1>
              </div>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-single-02"></i>
                    </div>
                  </div>
                  {{ form.username }}
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="tim-icons icon-lock-circle"></i>
                    </div>
                  </div>
                  {{ form.password }}
                </div>
              </div>
              
             
      
              <div class="text-center">
                <button type="submit" name="login" class="btn btn-primary my-4">Sign in</button>
              </div>
      
              <div class="card-footer">
                <div class="pull-left">
                  <h6>
                    <a href="/register/" class="link footer-link">Create Account</a>
                  </h6>
                </div>
               
              </div>
            </div>
          </form>
        </div>
      
      
      
              </div>
           
        <!-- <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="">
              
                {% csrf_token %} 

                <div class="card-header">
                  <h5 class="title">Login</h5>

                  <h6 class="card-category">
                      {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                      {% else %}
                        Add your credentials
                      {% endif %}  
                  </h6>
                </div>

                <div class="card-body">

                    <div class="row">

                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Username</label>
                          {{ form.username }}
                        </div>
                      </div>

                    </div>
                    <div class="row">

                      <div class="col-md-3 px-md-1">
                        <div class="form-group">
                          <label>Password</label>
                          {{ form.password }}
                        </div>
                      </div>

                    </div>
                    
                </div>
                <div class="card-footer">
                  <button type="submit" name="login" class="btn btn-fill btn-primary">Login</button>
                  &nbsp; &nbsp;
                  Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
                </div>

              </form>

            </div>
          </div>
      </div> -->


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
