
{% extends "layouts/base.html" %}

{% block title %} Add Category {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    .nav-pills.nav-pills-primary .nav-item .nav-link.active, .nav-pills.nav-pills-primary .nav-item .nav-link.active:focus, .nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
    background: #e14eca;
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-size: 210% 210%;
    background-position: top right;
}
    .nav-pills .nav-item .nav-link {
    padding: 0 15.5px;
    text-align: center;
    padding: 11px 23px;
    min-width: 100px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    background-color: #191f31;
}
.nav-pills .nav-item i {
    display: block;
    font-size: 24px;
    line-height: 60px;
}
</style>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
      <div class="card card-subcategories card-plain">
        <div class="card-header"></div>
        <div class="card-body">
         <ul class="nav nav-pills nav-pills-primary nav-pills-icons justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#link7">
                <i class="tim-icons icon-world"></i> ALL Complaints
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link9">
                  <i class="tim-icons icon-world"></i> ALL Material request
                </a>
              </li>
            {% if not request.user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link8">
                <i class="tim-icons icon-components"></i> Create New Complaint
              </a>
            </li>
           {% endif %}
          </ul>
          <div class="tab-content tab-space tab-subcategories">
            <div class="tab-pane active" id="link7">
                <div class="table-responsive">
                    <table class="table text-center">
                      <thead class="text-primary">
                        <tr>
                          <th class="text-center">
                            #
                          </th>
                          <th class="text-center"> complaintNumber </th>
                          <th class="text-center"> userId </th>
                          <th class="text-center"> complaintType </th>
                          <th class="text-center"> state </th>
                          <th class="text-center"> Desc. </th>
                          <th class="text-center"> complaintDetails </th>
                          <th class="text-center"> complaintFile </th>
                          <th class="text-center"> status </th>
                          <th class="text-center"> regDate </th>
                          <th class="text-center"> lastUpdationDate </th>
                          <th class="text-center"> Remarks </th>
                          
                              <th class="text-center">
                                  Actions
                                </th>
                        </tr>
                      </thead>
                      <tbody>
                          {% if complaints %}
                          {% for complaint in complaints %}
                        <tr>
                          <td>
                              {{complaint.id}}
                          </td> 
                          <td class="text-center">
                           {{complaint.complaintNumber}}
                          </td>
                          <td>
                            {{complaint.userId.first_name}}
                          </td>
                          <td>
                            {{complaint.complaintType}}
                          </td>
                          <td>
                            {{complaint.state}}
                          </td>
                          <td>
                            {{complaint.description}}
                          </td>
                          <td>
                            {{complaint.complaintDetails}}
                          </td>
                          <td>
                            {{complaint.complaintFile}}
                          </td>
                          <td>
                              {{complaint.status}}
                          </td>
                          <td>
                              {{complaint.regDate}}
                          </td>
                          <td class="text-center">
                            {{complaint.lastUpdationDate}}
                          </td>
                          <td class="text-center">
                            {% for Remarks in complaint.complaintremark_set.all %}
                            {{Remarks.status}}
                            {% endfor %}
                          </td>
                          <td class="text-right">
                            <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon " data-original-title="Refresh" title="">
                              <i class="tim-icons icon-pencil"></i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm " data-original-title="Delete" title="">
                              <i class="tim-icons icon-simple-remove"></i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr><td class="text-center">
                          <div class="photo">
                           
                          </div>
                        </td>
                        <td>
                         
                        </td>
                        <td class="text-center">
                          No Data Available
                        </td>
                        <td class="text-center">
                          
                        </td>
                        
                        <td class="text-right">
                         
                        </td></tr>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
            </div>
            {% if not request.user.is_superuser %}
            <div class="tab-pane" id="link8">
                <form method="POST" action="/addCategory/"  style="margin: 10px;">
                    {% csrf_token %}
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Register Complaints</h4>
                      </div>
                      <div class="card-body">
                          <div class="row">
                        <div class="form-group has-label col-sm-6">
                            <label>Category Name *</label>
                            <select class="form-control selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select" tabindex="-98" name="cat">
                                {% for category in categories %}
                                <option class="bs-title-option" value="{{category.categoryName}}">{{category.categoryName}}</option>
                                {% endfor %}
                            
                          </select>
                        </div> 
                        <div class="form-group has-label col-sm-6">
                            <label>Subcategory Name *</label>
                            <select class="form-control selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select" tabindex="-98" name="cat">
                                {% for category in categories %}
                                <option class="bs-title-option" value="{{category.categoryName}}">{{category.categoryName}}</option>
                                {% endfor %}
                            
                          </select>
                        </div> 
                    </div>
                    <div class="row">
                        <div class="form-group has-label col-sm-6">
                            <label>Complaint Type *</label>
                            <select class="form-control selectpicker" data-size="7" data-style="btn btn-primary" title="Single Select" tabindex="-98" name="cat">
                                <option class="bs-title-option" value="General Query">General Query</option>
                          </select>
                        </div> 
                        <div class="form-group has-label col-sm-6">
                            <label>Location </label>
                            <input class="form-control" name="name" type="text" value="" readonly>
                            
                        </div> 
                    </div>
                    <div class="row">
                        <div class="form-group has-label col-sm-6">
                            <label>Nature of Complaint *</label>
                            <input class="form-control" name="compl_nature" type="text" value="">
                        </div> 
                        <div class="form-group has-label col-sm-6">
                            <label>Complaint Related Doc (Optional) </label>
                            <input class="form-control" name="name" type="file" value="" readonly>
                            
                        </div> 
                    </div>
                        
                        
                        
                      </div>
                      <div class="card-footer text-left">
                        <button type="submit" class="btn btn-primary">Generate Ticket</button>
                       
                      </div>
                    </div>
                  </form>
            </div>
            {% endif %}
            <div class="tab-pane" id="link9">
                <form method="POST" action="/addCategory/"  style="margin: 10px;">
                    {% csrf_token %}
                    <div class="card">
                      <div class="card-header">
                        <h4 class="card-title">Generate Material Request</h4>
                      </div>
                      <div class="card-body">
                          <div class="row">
                        <div class="form-group has-label col-sm-6">
                            <label>Material Name *</label>
                            <input class="form-control" name="name" type="text" value="" >
                        </div> 
                        <div class="form-group has-label col-sm-6">
                            <label>Reason*</label>
                            <input class="form-control" name="Reason" type="text" value="">
                        </div> 
                    </div>
                    <div class="row">
                        <div class="form-group has-label col-sm-6">
                            <label>When Required *</label>
                            <input class="form-control" name="whnreq" type="text" value="" >
                        </div> 
                        <div class="form-group has-label col-sm-6">
                            <label>Location </label>
                            <input class="form-control" name="name" type="text" value="" readonly>
                            
                        </div> 
                    </div>
    
                        
                        
                        
                      </div>
                      <div class="card-footer text-left">
                        <button type="submit" class="btn btn-primary">Generate Material Request</button>
                       
                      </div>
                    </div>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="row">
   
 
    <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <div class="tools float-right">
              <div class="dropdown">
                <button type="button" class="btn btn-default dropdown-toggle btn-link btn-icon" data-toggle="dropdown">
                  <i class="tim-icons icon-settings-gear-63"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <a class="dropdown-item text-danger" href="#">Remove Data</a>
                </div>
              </div>
            </div>
            <h4 class="card-title">SubCategory Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table text-center">
                <thead class="text-primary">
                  <tr>
                    <th class="text-center">
                      #
                    </th>
                    <th>
                      Category Name
                    </th>
                    <th>
                      Subcategory Name
                    </th>
                    <th class="text-center">
                      Since
                    </th>
                    <th class="text-right">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                    {% if subcategories %}
                    {% for subcat in subcategories %}
                  <tr>
                    <td class="text-center">
                      <div class="photo">
                       {{subcat.id}}
                      </div>
                    </td>
                    <td>
                        {{subcat.categoryName}}
                    </td>
                    <td>
                        {{subcat.subcategory}}
                    </td>
                    <td class="text-center">
                      {{subcat.creationDate}}
                    </td>
                    <td class="text-right">
                      <button type="button" rel="tooltip" class="btn btn-success btn-link btn-sm btn-icon " data-original-title="Refresh" title="">
                        <i class="tim-icons icon-pencil"></i>
                      </button>
                      <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-sm " data-original-title="Delete" title="">
                        <i class="tim-icons icon-simple-remove"></i>
                      </button>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr><td class="text-center">
                    <div class="photo">
                     
                    </div>
                  </td>
                  <td>
                   
                  </td>
                  <td class="text-center">
                    No Data Available
                  </td>
                  <td class="text-center">
                    
                  </td>
                  
                  <td class="text-right">
                   
                  </td></tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
  </div>
</div>

  
  {% endblock %}